h1{
    background-color: green;
    height: 200px;
    width: 220px;
    display: inline;
}

span{
    background-color: blue;
    width: 250px;
    height: 230px;
    display: block;
}

.inline{
    
}