*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.parent{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* align-items: ; */
}
.card{
    width: 300px;
    border: 3px solid green;
    /* height: 100vh; */
}

.card > .card-banner > img{
    width: 100%;
}

.card > .card-content{
    padding-inline: 15px;
}